body {
    background-color: rgb(237, 189, 241);
}


.container {

    text-align: center;
    justify-content: center;

}

.item {

    background-color: brown;
    width: 500px;
    height: 20px;
    padding: 50px;
    margin-left: 450px;
}

#inpt {
    height: 28px;
    width: 300px;
}

#btn{
    padding: 7px;

}

#btn:hover{
    background-color: rgb(237, 237, 224);
}

.result {
    background-color: rgb(202, 118, 159);
    width: 500px;
    height: 500px;
    padding: 50px;
    margin-left: 450px;
    
}