body {
    background-color: rgb(237, 189, 241);
}


.container {

    text-align: center;
    justify-content: center;

}

.item {

    background-color: brown;
    width: 500px;
    height: 20px;
    padding: 50px;
    margin-left: 450px;
}

#inpt {
    height: 28px;
    width: 300px;
}

#btn{
    padding: 7px;

}

#btn:hover{
    background-color: rgb(237, 237, 224);
}

.result {
    background-color: rgb(202, 118, 159);
    width: 500px;
    height: 350px;
    padding: 50px;
    margin-left: 450px;
    
}
li{
    padding: 2px;
    color: black;
    background-color: rgb(237, 237, 224);
    font-weight: bolder;
    list-style:none;
    border: 1px solid rgb(43, 49, 6);
    border-radius: 5px;
    margin: 5px;
    
}
#sort{
    margin-top: 20px;
    text-align: center;
    margin-left: 80px;
}